body{
  height: 100vh;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.934);
  margin: 0;
  overflow: hidden;
}
      
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */

  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }


/* Create an active/current tablink class */ 
.tab button.active {
    background-color: #ccc;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  #image-track > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
  }
 
  #image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
  }

  img {  
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }
 

